*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}

h1{
    margin-top: 40px;
    font-size: 40px;
    color: #6b0099;
}

#cadastroFestaForm{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
    
}

input[type="date"]{
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

input[type="text"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

button[type="submit"]{
    padding: 10px 20px;
    background-color: #6b0099;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

#nome{
    width: 400px;
}

.voltar{
    padding: 10px 20px;
    background-color: #6b0099;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.listaCadastro{
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50px;
    margin: 0 auto;

}

.listaCadastro h1{
    color: #6b0099;
    font-size: 30px;
}

.exibirListaFesta{
    width: 80%;
    height: auto;
    margin: 10px auto;
}

.exibirListaFesta table {
    width: 100%;
}

.exibirListaFesta th {
    background-color: #6b0099;
    color: white;
    padding: 5px;
}


.exibirListaFesta tbody tr:nth-child(even) {
    background-color: #6b00991c;
}

.btnExcluir{
    width: 20px;
    height: 20px;
    color: rgb(255, 0, 0);
    border: none;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}
